*{
    /*Exterior*/
    margin: 0;
    /*Interior*/
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 183, 113);
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: rgb(255, 45, 45);
    color: rgb(40, 80, 255);
    padding: 10px 0;
}

header h1{
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.estilo {
    background-color: azure;
}