*{
    /*Exterior*/
    margin: 0;
    /*Interior*/
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 136, 0);
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: brown;
    color: aqua;
    padding: 10px 0;
}

.estilo {
    background-color: azure;
}